<%- include("partials/head") %>

<%- include("partials/navbar") %>

<main>

    <section class="hero">

        <div class="hero-text">

            <h2>Estado del Estanque</h2>
            <p><strong>Capacidad máxima:</strong> <%= capacidadMaxima %> litros</p>
            <p><strong>Agua disponible:</strong> <%= aguaDisponible %> litros</p>
            <p><strong>Total ingresado:</strong> <%= totalIngresado %> litros</p>
            <p><strong>Total consumido:</strong> <%= totalConsumido %> litros</p>
            <h3><%= nivel %></h3>

        </div>

    </section>

</main>

<%- include("partials/footer") %>